
*.xml
*.iml
*.pyc
configmanager_downloaded.py
temp.txt
test/transfiles.ini
test/testproject_1/fromdir/uploadTwice
test/testproject_1/fromdir_saved/uploadTwice
test/test_TransferFiles.ini
test/transfiles_noExclude.ini
